<div class="container-fluid">
  <h3 class="text-center my-3 mb-5">HttpClient in depth</h3>
  <div class="row">
    <div class=" col-sm-3">
      <div class="text-center">
      <button class="btn btn-primary center-block" (click)="loadData()">Get request</button>
    </div>
    <div *ngIf="data" >
      <div *ngFor="let post of data | slice:0:5">
       <p>Title: {{post.title}}</p> 
      </div>
    </div>
  </div>
 
  
    <div class=" col-sm-3">
      <div class="text-center">
        <button class="btn btn-danger" (click)="loadHeaders()">Get headers</button>
      </div>
    <p>{{headers}}</p>
        
    </div>


    <div class=" col-sm-3">
      <div class="text-center">
        <button class="btn btn-warning" (click)="loadTextFile()">Load Text File</button>
      </div>
    <p>{{file}} {{text}}</p>
        
    </div>

    <div class=" col-sm-3">
      <div class="text-center"> 
        <button class="btn btn-success" (click)="getEvents()">Events</button>
      </div>
      <div *ngIf="event"> 
        <p>Is request sent: {{sent}}</p> 
       <p> eventType = {{event.type}}</p>
       <p> Status code = {{event.status}}</p>
       <p> Status text = {{event.statusText}}</p>
       
      </div>
    </div>

  </div>


  <div class="row">
    <div class=" col-sm-4">
      <div class="text-center">
      <button class="btn btn-dark center-block" (click)="getParams()">Get Params</button>
    </div>
    <div *ngIf="dataParams">
      <div *ngFor="let post of dataParams | slice:0:5">
       <p>UserID: {{post.userId}}</p>         
       <p>Title: {{post.title}}</p>
      </div>
    </div>
  </div>
 
  
    <div class=" col-sm-4">
      <div class="text-center">
        <button class="btn btn-info" (click)="progress()">Progress</button>
      </div>
      <div *ngIf="loading">
        <p>Loaded: {{loading}} kb</p>
      </div>
    </div>


    <div class=" col-sm-4">
      <div class="text-center">
        <button class="btn btn-secondary" (click)="interceptor()">Interceptor</button>
      </div>
      <div *ngIf="interceptorLog">
        <p class="text-center">{{interceptorLog}}</p>
      </div>
    </div>


  </div>


</div>
<router-outlet></router-outlet>
